#home-payment-methods {
  .container {
    .options {
      background-color: #fff;
      border-radius: 5px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          list-style: none;
          padding: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            margin-right: 10px;
            cursor: pointer;
          }

          h6 {
            font-size: 1rem;
            margin: 0;
          }

          p {
            font-size: 0.8rem;
            margin: 0;
            color: #5697fa;
            cursor: pointer;
          }

          &:last-of-type {
            border-color: #ebebeb;
            border-style: solid;
            border-width: 0 0 0 1px;
          }
        }
      }
    }
  }
}

@media (max-width: 1007px) {
  #home-payment-methods {
    .op4 {
      display: none !important;
    }
  }
}

@media (max-width: 840px) {
  #home-payment-methods {
    .op3 {
      display: none !important;
    }
  }
}

@media (max-width: 639px) {
  #home-payment-methods {
    .op2 {
      display: none !important;
    }
  }
}
